/* */
.required-column {
    color: #ff5d5a !important;
}

.data-grid-container .data-grid .cell.read-only {
    color: black;
    text-align: center;
}

.sidebar-element {
    width: 200px;
    margin: 0 auto;
}

.center-in-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.upload-box {
    display: table;
    width: 198px;
    min-height: 100px;
    height: 30%;
    background-color: white;
    margin: 0 auto;
    border: 1px dashed grey;
    border-radius: 5px;
}

.upload-text {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
}

.display-box {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 198px;
    height: 30%;
    margin: 0 auto;
    border: 1px solid black;
}

.display-box-text {
    width: 198px;
    margin: 0 auto;
    height: 30%;
}

.collection-box {
    display: flex;
}

.Img {
    max-width: 20%;
}

.default-button {
    width: 75%;
    height: 100%;
    border-radius: 25px !important;
    margin: 0 auto;
    margin-bottom: 5px;
}

.default-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}