.tree {
        .base {
            list-style: none;
            background-color: #21252B;
            color: #9DA5AB;
            font-family: lucida grande ,tahoma,verdana, arial, sans-serif;
            font-size: 14px;
            margin-left: 5%;
            margin-right: 5%;
            display: inline-block;
            width: 40%;
            float: top;
            z-index: 1;
            position: relative;
        }
        .node {
            .base {
                position: relative;
            }
            .link {
                cursor: pointer;
                position: relative;
                padding: 0 5px;
                display: block;
            }
            .activeLink {
                background: #31363F;
            }
            .toggle {
                .base {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    margin-left: -5px;
                    height: 24px;
                    width: 24px;
                }
                .wrapper {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -7px 0 0 -7px;
                    height: 14px;
                }
                .arrow {
                    fill: #9DA5AB;
                    stroke-width: 0;
                }
            }
            .header {
                .base {
                    display: inline-block;
                    vertical-align: top;
                    color: #9DA5AB;
                }
                .connector {
                    width: 2px;
                    height: 12px;
                    border-left: solid 2px black;
                    border-bottom: solid 2px black;
                    position: absolute;
                    top: 0;
                    left: -21px;
                }
                .title {
                    line-height: 24px;
                    vertical-align: middle;
                }
            }
           .subtree {
                list-style: none;
                padding-left: 24px;
            }
            .loading {
                border-left: 5px;
                color: #E2C089;
            }
        }
    }
.tree-container {
    top: 10%;
    position: relative;
    float: top;
}
